.DS_Store
.idea
.ideas
.todo
/.env.testing
/nbproject/private/
/node_modules
/public/storage
/public/storage/assets/*
/public/vendor/horizon
/storage/license.key
/vendor
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
public/php_errors.log
yarn.lock
data