<div
    :id="'widget.' + widget.id"
    class="proton-widget general-stats"
    :class="{setup: setupMode}">
    <div class="panel panel-default back">
        <div class="panel-heading">
            <i class="fa fa-cog"></i>
            <i
                @click="removeWidget"
                class="fa fa-trash">
            </i>
            <span>Settings</span>
            <div
                @click="toggleSetup"
                class="toggle-widget-setup">
                <i class="fa fa-ok"></i>
                <span>DONE</span>
            </div>
        </div>
        <ul class="list-group scrollable">
            <li class="widget-type-text {{widget.theme}}-type-text">Stats Widget</li>
            <li
                class="list-group-item"
                v-for="field in fields">
                <component
                    :is="field.type"
                    :field="field">
                </component>
            </li>
        </ul>
    </div>
    <div class="panel {{widget.theme || 'panel-primary'}} front">
        <div
            class="panel-heading"
            :class="{'with-heading-icon': widget.icon}">
            <i v-if="widget.icon" class="{{widget.icon}}"></i>
            <span>{{widget.heading}}</span>
            <i
                @click="toggleSetup"
                class="fa fa-cog toggle-widget-setup">
            </i>
        </div>
        <ul class="list-group">
            <li
                class="list-group-item"
                :widget="widget"
                v-if="stat"
                v-for="stat in stats"
                track-by="$index">
                <div
                    class="text-holder">
                    <span class="title-text">{{stat.value}}</span>
                    <span class="description-text">{{stat.text}}</span>
                    <span
                        v-if="stat.change !== null && stat.change > 0"
                        class="stat-value">
                        +{{stat.change}}% <i class="fa fa-sort-up"></i>
                    </span>
                    <span
                        v-if="stat.change !== null && stat.change === 0"
                        class="stat-value">
                        {{stat.change}}% <i class="fa fa-sort"></i>
                    </span>
                    <span
                        v-if="stat.change !== null && stat.change < 0"
                        class="stat-value">
                        {{stat.change}}% <i class="fa fa-sort-down"></i>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
