<a data-toggle="modal" href="#quick-launch-modal" class="add-quick-launch"><i class="fa fa-plus"></i></a>
<div id="quick-launch-modal" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-plus"></i><span>EDIT QUICK LAUNCH ITEMS</span></h4>
            </div>
            <div class="modal-body">
                <p>Edit quick launch items below:</p>
                <!-- <input type="text" placeholder="Placeholder Text" value="Graphs,Calendar,Maps,Cloud,Conference" data-role="tagsinput" /> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">CANCEL</button>
                <button type="button" class="btn btn-lg btn-success" data-dismiss="modal">SAVE SELECTION</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
